# Visual Studio
.vs/
*.user
*.suo

# .NET build files
bin/
obj/

# ASP.NET development settings
appsettings.Development.json

# Angular
node_modules/
dist/
.angular/
.cache/

# Environment files
.env
.env.*

# Logs
*.log